<div class="container-fluid principal col-11" style="height: 600px;">
    <div class="row superior">
        <div class="col-6 titulo">
        Criterios y Plazos de Préstamos
        </div>
        <div class="col-6 texto-info">
            -Esta configuración está a nivel cliente, sin embargo no tiene configuración a nivel sistema.
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col-3">
            <app-seleccion-config></app-seleccion-config>
        </div>
        <div class="col-9">
            <app-cliente></app-cliente>
        </div>  
    </div>
</div>