<div>
    <div class="row">
        <div class="col-1 naranja">▶</div>
        <div class="col-10 titulo" titulo>Seleccione la función a configurar</div>
    </div>
    <table class="table tabla table-striped">
        <thead class="seleccion">
          <tr>
            <th>Activar</th>
            <th>Funciones a configurar</th>
          </tr>
        </thead>
        <tbody>
          <tr routerLink="/cliente" routerLinkActive="celdaActiva">
            <td>
                <div class="form-check centrar">
                    <input type="checkbox" class="form-check-input" id="clienteCheck">
                </div>
            </td>
            <td><a>Cliente</a></td>
          </tr>
          <tr routerLink="/limites" routerLinkActive="celdaActiva">
            <td>
                <div class="form-check centrar">
                    <input type="checkbox" class="form-check-input" id="limitesCheck">
                </div>
            </td>
            <td>Límites</td>
          </tr>
          <tr class="filaFinal" routerLink="/avales" routerLinkActive="celdaActiva">
            <td>
                <div class="form-check centrar">
                    <input type="checkbox" class="form-check-input" id="avalesCheck">
                </div>
            </td>
            <td>Avales</td>
          </tr>
        </tbody>
      </table>
      <div class="footer">
          <div class="naranja">Estatus de funciones:</div>
          <div class="gris">
              <div>Sin configuración</div>
              <div>Configuración Nivel "Sistema"</div>
              <div style="font-weight: bold;">Configuración Nivel "Cliente"</div>
          </div>
      </div>
</div>