<div style="background-color: #ffffff;">
    <table class="table tabla">
        <thead class="seleccion">
          <tr>
            <th>Parámetros</th>
            <th>Valores</th>
            <th></th>
            <th>Todos</th>
            <th>Activar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alias</td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Selecciona</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Elemento de estructura</td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Selecciona</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tipo de pago de nómina</td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Selecciona</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tipo de Trabajador</td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Selecciona</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Antigüedad mínima en Cliente Institucional</td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="filaFinal">
            <td>Antigüedad máxima en Cliente Institucional</td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td><select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="col-12" style="text-align: center;">
        <button type="button" class="btn btn-orangeCuston">Continuar</button>
      </div>
</div>